@import 'tailwindcss';

:root {
  --b1: oklch(100% 0.01 296.81);
  --f1: oklch(7.74% 0 296.81);
}

@theme inline {
  --color-background: var(--b1);
  --color-foreground: var(--f1);
  --color-b1: var(--b1);
  --color-f1: var(--f1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --b1: oklch(2.74% 0 296.81);
    --f1: oklch(93.75% 0.01 296.81);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist, Arial, Helvetica, sans-serif;
}

.non-scaling-stroke * {
  vector-effect: non-scaling-stroke;
}

.stroke-rotate {
  stroke-dasharray: 20, 13;
  animation: stroke-rotate 2s linear infinite;
}

@keyframes stroke-rotate {
  to {
    stroke-dashoffset: 100;
  }
}
